<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="header">
            <div class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" th:href="@{/}">Проверь Свои Знания</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">

                            </li>
                        </ul>
                        <ul class="navbar-nav mb-2 mb-lg-0 navbar-right">
                            <li th:if="${#authorization.expression('!isAuthenticated()')}">
                                <a href="/auth/login" th:href="@{/auth/login}">
                                    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>Sign in
                                </a>
                            </li>
                            <li th:if="${#authorization.expression('isAuthenticated()')}">
                                <a href="#" th:href="@{/logout}" onclick="$('#form').submit();">
                                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>Logout
                                </a>
                                <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>